name: build-containers
on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '**.json'
      - '**.jsonnet'
      - '**.key'
      - '**.pub'
      - '**.sh'
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
  go-buymeacoffee:
    name: go-buymeacoffee
    runs-on: ubuntu-latest
    env:
      REPO: dazwilkin/go-buymeacoffee
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup
        uses: docker/setup-buildx-action@v3
      - name: Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR }}
      - name: Get kernel version
        run: echo "VERSION=$(uname --kernel-release)" >> ${GITHUB_ENV}
      - name: Buildx Multi-platform Docker Images
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          file: ./Dockerfile
          build-args: |
            VERSION=${{ env.VERSION }}
            COMMIT=${{ github.sha }}
          tags: ghcr.io/${{ env.REPO }}-server:${{ github.sha }}
          push: true
        id: docker-build-push-multi-platform
      - name: Install Cosign
        uses: sigstore/cosign-installer@main
      - name: Write signing key to disk (only needed for `cosign sign --key`)
        run: echo "${{ secrets.SIGNING }}" > ./cosign.key
      - name: Sign container image
        run: |-
          DIGEST=${{ steps.docker-build-push-multi-platform.outputs.digest }}

          cosign sign \
          --yes \
          --key=./cosign.key \
          --annotations="repo=${{ github.repository }}" \
          --annotations="workflow=${{ github.workflow }}" \
          --annotations="commit=${{ github.sha }}" \
          --annotations="version=${{ env.VERSION }}" \
          ghcr.io/${{ env.REPO }}-server@${DIGEST}
        env:
          COSIGN_PASSWORD: ""
      - name: Revise image references
        run: |-
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"

          for FILENAME in "./README.md"
          do
            echo "Replacing: ${REPO}-server"
            sed \
            --in-place \
            --expression="s|${{ env.REPO }}-server:[0-9a-f]\{40\}|${{ env.REPO }}-server:${{ github.sha }}|g" \
            ${FILENAME}
            git add ${FILENAME}
          done

          git commit --message "GitHub Actions update image references"
          git push origin master
